@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --blueColor: #97dffcff;
    --darkColor: #222222ff;
    --grayColor: #ddd;
    --whiteColor: #F1F1F1F1;
    --primaryColor: #6874e8ff;
    --secundaryColor: #e39ec1ff;
    --greenColor: #37ff8bff;

    /* Z-INDEX */
    --z-back: -10;
    --z-normal: 2;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* LETRAS */
    --bigger-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.4375rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.0625rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.8rem;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* MENU */

header nav {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: var(--z-tooltip);
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li a, nav .logo a{
    padding: 15px;
    font-size: var(--normal-font-size);
    color: var(--grayColor);
    text-decoration: none;
    opacity: .5;
}

nav ul li a:hover, nav .logo a:hover{
    opacity: 1;
}

/* MENU */

/* HOME */
main .imgBackground img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: blur(2px);
    z-index: var(--z-back);
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main .imgBackground::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--darkColor);
    opacity: 0.7;
    position: absolute;
    z-index: 1;
}

main .titleMain{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    z-index: var(--z-normal);
    overflow: hidden;
}

.titleMain h1, .titleMain h2, .titleMain h3{
    width: 100%;
    text-align: left;
    margin-left: 50px;
}

.titleMain h3{
    font-size: var(--h2-font-size);
    color: var(--secundaryColor);
}

.titleMain h1, .titleMain h2{
    font-size: var(--bigger-font-size);
    color: var(--whiteColor);
    margin-bottom: 10px;
    font-weight: bold;
}

.arrowDown svg{
    width: 100px;
    height: 40px;
    color: var(--whiteColor);
    animation: move 3s ease-in-out infinite ;
    z-index: var(--z-normal);
    position: absolute;
    left: 50%;
    bottom: 50px;
}


@keyframes move{
    0%{bottom:50px; opacity: 0;}
    50%{bottom:100px; opacity: 1;}
    100%{bottom:50px; opacity: 0;}
}

/* HOME */

/* QUIEN SOY */
#quiensoy{
    margin: auto;
    padding: 50px;
    background-color: var(--whiteColor);
    display: flex;
    justify-content: center;
    align-items:flex-start; 
    overflow: hidden;
}

#quiensoy .imgContainer img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 5px 6px 14px 4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 6px 14px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 6px 14px 4px rgba(0,0,0,0.5);
}

#quiensoy .content {
    width: 50%;
    margin-left: 50px;
}

.titleContent{
    font-size: var(--bigger-font-size);
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

#quiensoy h3{
    color: var(--primaryColor);
}



#quiensoy .content p{
    font-size: var(--normal-font-size);
    line-height : 25px;
    margin-bottom: 25px;
}

.btnDownloadCV a{
    text-decoration: none;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    padding: 15px;
    border-radius: 10px;
    opacity: .7;
}

.btnDownloadCV a:hover{
    opacity: 1;
}

/* SKILLS */

#skills{
    padding: 50px;
    background-color: var(--grayColor);
    color: var(--whiteColor);
}

#skills .titleContent{
    color: var(--darkColor);
}

#skills .svgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#skills .svgContainer img{
    width: 70px;
}

.svgContainer .card{
    width: 90px;
    height: 100px;
    margin-right: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 10px;
    color: var(--darkColor);
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.svgContainer .card:hover{
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
}